body {
    font-family: arial, tahoma, verdana, serif;
    line-height:1.5em;
    font-size: 12pt;
    background-color:#83838D
}
img {border: 5px solid white;} /* 0,0,0,1 */
.header img { border: 10px solid pink;} /* 0,0,1,1 */
#header img{border-color: white} /* 0,1,0,1 */

div#header{
border-color: green;
}

#header{
padding-top:50px;
border-top: 40px solid green;

}

.header{
    padding: 50px 20px 20px 20px;
    border: 10px solid green;
    margin: 15px;
}


h1{
    font-size: 250%
    text-align: center;
}

.pochylony {
    font-style:italic;
}
.pogrubiony {
    font-weight: bold
}

li {
    font: italic bold 13px/25px "Times New Roman", arial, tahoma, serif;
}

.tekst1 {
    color: #00FF26;
}
.tekst2 {
    color:#00F8FF;
}

h2 {
    text-align: center;
}
